@using Valtech_Task3_Ankh_Morpork_MVC_.Resources
@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Thieves
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div>Index thieve</div>
<div>@Model.Name --- @ThievesGuild.MoneySteel</div>
<div>Theft Limit: @ThievesGuild.TheftLimit</div>
<div>
    <img src="~/img/ThievesImages/@(Model.ImageName)" height="200" width="250" alt="" />
</div>
@Html.ActionLink("Yes", "AnswerYes", new { name = Model }, null)
@Html.ActionLink("No", "AnswerNo")