@using Microsoft.AspNet.Identity
@using Valtech_Task3_Ankh_Morpork_MVC_.Services
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_ValidationMetaPartial")
    <title>Ankh Morpork Game</title>
    @Html.Partial("_ValidationCssStylePartilal")
</head>
<body>
<div class="layout-header">
    <div class="image-position">
                <img src="~/img/ApplicationImages/logo.jpg" alt="logo image" width="60" height="60" />
            </div>
            <div class="logo-position">
                @Html.ActionLink("Ankh Morpork Game", "Index", "Home", null, new { @class = "link-style" })
            </div>
        @if (User.Identity.IsAuthenticated) 
            {
                <div class="player-info">
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                        {
                            <input type="submit" value="Exit" class="button-exit">
                        }
                    </div>
                <div class="player-info" style="margin-top: -10px;">
                    @Html.ActionLink("Profile", "Index", "Player", null, new { @class = "link-style" })
                </div>
            }
            else
            {
                <div class="player-info">
                        @Html.ActionLink("Registration", "Register", "Account",null, new { @class = "link-style-enter" })
                    </div>
                <div class="player-info">
                        @Html.ActionLink("Login","Login","Account",null, new { @class = "link-style-enter" })
                </div>
            }
</div>
@RenderBody()
@Html.Partial("_ValidationScriptsPartial")
@RenderSection("scripts", required: false)
</body>
</html>