@using Valtech_Task3_Ankh_Morpork_MVC_.Services
@model Valtech_Task3_Ankh_Morpork_MVC_.Models.Player
<div class="gameplay_bord" style="margin: 0 auto;">
    <div style="width: 80%; margin: 0 auto; height: 40%">
        <div class="playerInfo">
            @Model.UserName
        </div>
        <div class="playerInfo">
            @Html.ActionLink("Edit", "Edit", "Player", new { id = Model.Id }, null)
        </div>
        <div class="playerInfo">
            @Html.ActionLink("Home Page", "Index", "Home", null, new { @class = "link-style" })
        </div>
    </div>
    <div style="width: 80%; margin: 0 auto; height: 60%;">
        <h1 style="text-align: center;">Walker Statistics</h1>
        <h2 style="font-weight: bold;">Step Record: @Model.MaxAmountOfSteps</h2>
        <h2 style="font-weight: bold;">Games Played: @Model.AmountOfGames</h2>
    </div>
</div>