@model Valtech_Task3_Ankh_Morpork_MVC_.Models.ViewModels.Account.LoginModel
@if (!User.Identity.IsAuthenticated)
{
    <div class="authorization-page">
        <h1>Login</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="authorization-position">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    <div>
                        @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "authorization-label" })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "authorization-login" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                    </div>

                    <div>
                        @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "authorization-label" })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-login"}})
                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                    </div>

                    <div>
                        <input type="submit" value="Login" class="authorization-button"/>
                    </div>
            </div>
        }

        <div class="authorization-variants">
            @Html.ActionLink("Home page", "Index", "Home",null,new {@class="link-style"})
        </div>
        <div class="authorization-variants">
            @Html.ActionLink("Register page", "Register", "Account", null, new { @class = "link-style" })
        </div>
    </div>
}
else
{
    <div>You already loggined!</div>
}
