@model Valtech_Task3_Ankh_Morpork_MVC_.ViewModels.Account.RegisterModel
<div class="authorization-page">
    <h1>Register</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="authorization-position">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            
            <table>
                <tr>
                    <th style="width:200px"> @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "authorization-label" })</th>
                    <th> @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "authorization-login" } })</th>
                    <th style="margin-left: 10px;"> @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})</th>
                </tr>
            </table>
            
            <table>
                <tr>
                    <th style="width:200px"> @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "authorization-label" })</th>
                    <th> @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "authorization-login" } })</th>
                    <th style="margin-left: 10px;"> @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</th>
                </tr>
            </table>
            
            <table>
                <tr>
                    <th style="width:200px"> @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "authorization-label" })</th>
                    <th> @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "authorization-login" } })</th>
                    <th style="margin-left: 10px;"> @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })</th>
                </tr>
            </table>
            <input type="submit" value="Register" class="authorization-button"/>
        </div>
    }

    <div class="authorization-variants">
        @Html.ActionLink("Home page", "Index", "Home", null, new { @class = "link-style" })
    </div>
    <div class="authorization-variants">
        @Html.ActionLink("Login page", "Login", "Account", null, new { @class = "link-style" })
    </div>

</div>
