@model IEnumerable<Valtech_Task3_Ankh_Morpork_MVC_.Models.Assassins>
@{
    Layout = "~/Views/Shared/_GameProcessLayout.cshtml";
}
<div class="gameplay-info-position">
    @if (!Model.Any())
    {
        <h2>All assassins are occupied or amount of money to low or to much! Made it in range 4-45 dollars!</h2>
        <div class="authorization-variants">
            @Html.ActionLink("Make another answer", "Action", null,new {@class="link-style"})
        </div>
    }
    else
    {
         if (Model.Count() == 1)
        {
            <h2>You find only one assassin! You pay to him!</h2>
        }
        else
        {
            <h2>You find @Model.Count() assassins! You take first of them! Pay to @Model.ElementAtOrDefault(0) !</h2>
        }
        foreach (var assassin in Model)
        {
            <div class="assassins-list">
                <h2>@assassin.Name</h2>
                <img src="~/img/AssassinsImages/@(assassin.ImageName)" height="250" alt=""/>
            </div>
        }
        <div class="authorization-variants">
            @Html.ActionLink("Next step", "Index", "GamePlay", null,new {@class="link-style"})
        </div>
    }
</div>